{% extends 'base.html.twig' %}

{% block title %}Hello list pen!{% endblock %}

{% block body %}

<div>
    <h1>Hello list pen!</h1>
    {% for pen in pens %}
        <p>{{ pen.name }}</p>
        <p>Animals:</p>
        <ul>
            {% for animal in pen.animals %}
                <li>{{ animal.name }}</li>
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}
</div>
{% endblock %}
