{% extends 'base.html.twig' %}

{% block title %}Hello on animal creation!{% endblock %}

{% block body %}
    <h1>Animal creation</h1>
{#    <p>L'animal de type {{ animal.specie }} et qui s'appelle {{ animal.name }} a bien été créé en base de donnée.</p>#}
{% endblock %}